.main_section {
  display: block;
  text-align: left;
  line-height: 20px;
  padding-top: 16px;
  .flex {
    display: flex;
    align-items: center;
    width: 100%;

    .right_section {
      display: inline-flex;
      align-content: flex-end;
    }
  }
}