.who_we_help{
  height: 750px;
  width: 70%;
  text-align: center;
  display: block;
  margin: auto;
  color: #3C3C3C;
  cursor: pointer;

.main_help {
  display: block;
  margin: 50px;

  h2{
    font-size: 26px;
  }

  .buttons {
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    display: flex;

    button {
      width: 200px;
      height: 70px;
      font-size: 18px;
      font-weight: lighter;
      background-color: white;
      margin-right: 50px;
      border:none;
      cursor: pointer;
      outline: none;
    }
    .border{
      border: 1px solid black;
    }
  }
}
  .help_background{
    width: 55%;
    margin: auto;
    padding-top: 40px;
    .help_text{
      font-weight: bolder;
    }

  }

}

.main_section {
  display: block;
  text-align: left;

  .flex {
    display: flex;
    align-items: center;
    width: 100%;

    .right_section {
      display: inline-flex;
      align-content: flex-end;
    }
  }
}