.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  cursor: pointer;


  .photo {
    background-image: url("../../../assets/assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 60%;
  }

  .main_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 700px;
    margin-right: 10%;

    .main_box {
      margin-top: 50px;

      h2 {
        font-size: 26px;
        color: #3C3C3C;
      }
    }

    .main_button {
      display: block;
      align-items: center;
      text-align: center;
      margin-top: 20px;


      button {
        border: 1px solid #3C3C3C;
        height: 90px;
        width: 220px;
        background-color: white;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        justify-content: space-between;
        margin: 15px;
        align-items: center;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: #3C3C3C;
        }
      }
    }
  }
}

