.logout_main {
  width: 80%;
  height: 100vh;
  margin: auto;

  .logout_container {
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 50px;

    h2 {
      font-size: 28px;
      color: #3C3C3C;
    }

    button {
      margin-top: 30px;
      width: 120px;
      height: 40px;
      background-color: transparent;
      border: 1px solid #3C3C3C;
      a{
        text-decoration: none;
        font-size: 18px;
        color: black;
      }
    }
  }
}