.three_columns {
  width: 100%;
  height: 300px;
  background-color: gold;
  display: flex;
  color: grey;

  .column {
    width: 300px;
    display: block;
    text-align: center;
    margin: auto;

    h1 {
      font-size: 70px;
      font-weight: 200;
      margin-bottom: 20px;
      margin-top: -10px;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;

      p {
        padding-bottom: 40px;

      }
    }
  }
}
