.StepTwo_main{
  width: 100vw;
  height: 100vh;
  display: flex;

  .StepTwo_photo{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/assets/Background-Form.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    .StepTwo_text{
      width: 50vw;
      height: 100vh;
      margin-left: 10%;
      position: relative;
      h2{
        margin-top: 50px;
        white-space: nowrap;
      }
      .options{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 350px;
        .options_step3{
          display: block;
          .select_box_step3{
            display: block;
          }


        }
        .choose_option{
          display: block;
          text-align: left;
          justify-content: space-between;
          white-space: nowrap;
          line-height: 40px;
          justify-items: center;
          input{
            width: 25px;
            height: 25px;
            border-radius: 0;
            background-color: transparent;
          }

        }
        .select_option{
          width: 200px;
          height: 40px;
          margin-top: 5px;
          font-size: 16px;
          .select{
            width: 30px;
          }
        }
      }
    }
    .form_buttons{
      display: flex;
      width: 270px;
      height: 70px;
      position: absolute;
      justify-content: space-between;
      top: 550px;
      button{
        width: 120px;
        height: 50px;
        font-size: 16px;
      }
    }
  }
}

.select_checkbox_step3  .checkbox_select{
  display: none;
}

.label_step3 {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer;
  justify-content: space-between;
}

#one:checked ~ label[for="one"],
#two:checked ~ label[for="two"],
#three:checked ~ label[for="three"],
#four:checked ~ label[for="four"],
#five:checked ~ label[for="five"] {
  background: yellow;
  color: black;
}
.address_term {
  display: flex;
  width: 40vw;
  height: 300px;
  justify-content: space-between;
  .address {
    width: 200px;
    .address_box1 {
       display: block;
       line-height: 30px;
      input{
        width: 200px;
        height: 30px;
      }
    }
  }
  .term {
    width: 200px;
    margin-top: 3px;
    .term_box1{
      display: block;
      line-height: 30px;
      input{
        width: 200px;
        height: 30px;
      }
    }
  }
}